<div class="container">
    <div class="row ">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illum assumenda natus accusamus non consequuntur nam. Eius nobis tenetur, fugiat consequatur animi mollitia fuga quam pariatur ut, quidem, dolor eaque!</p>
    </div>
    <div class="row">
        <div class="col-12 flex-wrap d-flex row-cols-auto px-2">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/servicio1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vista al mar</h5>
                  <p class="card-text">Bronceado y vista al mar.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/servicio2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Habitaciones </h5>
                  <p class="card-text">Habitacion personal.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/servicio3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sala de estar</h5>
                  <p class="card-text">Sala de relajacion.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/servicio4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Bronceado y vista al mar.</p>
                </div>
            </div>
        </div>
    </div>
</div>